




.section-contact{
    padding: 80px;
    position: relative;
}
.website-info{
padding-top: 100px;
padding-bottom: 50px;
}
.website-info>.item>.info{
      
  padding: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.info>p>a{
    text-decoration: none;
    color: black;
}

.input-section{

}
.map>div{
    height: 100%;
}