
.footer{
    position: relative;
}
.list-style>li{
    text-decoration: none;
    list-style: none;
    
    
  }
  
  .list-style>li>a{
    text-decoration: none;
  
  }

  .ftco-animate{
    animation: bounceIn 2.2s  ease-in;
  }





.footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
   display: inline-block;
}

.footer-social li a {
    height: 50px;
    width: 50px;
    float: left;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.footer-social li a span {
    font-size: 26px;
    color: #000000;
}

.footer-social li a:hover {
    color: #000000;
}


  
